body{
    font-family: "lato", sans-serif;
    font-weight: 400;
    /*
    font-size: 16px;
    */
    line-height: 1.7;
    color: $color-grey-dark;
    padding: 3rem;
    box-sizing: border-box;

}

.heading-primary{
    color: $color-white;
    text-transform: uppercase;
    
    margin-bottom: 6rem;

    /*
        removes shaking in animation
            backface-visibility: hidden;
    */
    &--main{
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
    
        animation-name: moveInLeft;
        animation-duration: 2s;
        animation-timing-function: ease-out;
    }
    &--sub{
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
    
        animation-name: moveInRight;
        animation-duration: 2s;
        animation-timing-function: ease-out;
    }
    
    &--sub2{
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
    
        animation-name: moveInLeft;
        animation-duration: 2s;
        animation-timing-function: ease-out;
    
    
    }
}

.heading-secondary{
    font-size: 3.5rem;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark );
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent;

    &:hover{
        transform: translateY(-.3rem);
        text-shadow: 0 1rem 2rem rgba(0,0,0,.2);
        /*
        boxshadow: X Y blur color
        */
    }
    &:active{
        transform: translateY(-.1rem);
        text-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
    }
}
.heading-tertiary{
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;

}
.paragraph{
    font-size: 1.6rem;

    &:not(:last-child){
        margin-bottom: 3rem;
    }
}